---
import { getLangFromUrl, getLocalizedPath } from '../i18n/utils';
import { languages } from '../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname;
---

<div class="relative inline-block text-left">
  <div class="group">
    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" id="language-menu" aria-expanded="true" aria-haspopup="true">
      {languages[lang]}
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>

    <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 origin-top-right absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50">
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="language-menu">
        {Object.entries(languages).map(([langCode, langName]) => (
          <a 
            href={getLocalizedPath(currentPath, lang, langCode)} 
            class={`block px-4 py-2 text-sm hover:bg-gray-100 ${lang === langCode ? 'bg-green-50 text-green-700 font-medium' : 'text-gray-700'}`}
            role="menuitem"
          >
            {langName}
          </a>
        ))}
      </div>
    </div>
  </div>
</div>

<style>
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }
  .group:hover .group-hover\:visible {
    visibility: visible;
  }
</style>
