---
export interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`separator-container w-full flex justify-center ${className}`}>
  <img 
    src="/img/assets/separator.png" 
    alt="Separator" 
    class="separator-image w-full lg:max-w-[1920px] h-[20px] object-cover"
  />
</div>

<style>
  .separator-container {
    z-index: 1;
  }
  
  
  
</style>
